<h1>Examples? What's this?</h1>
<p>
  We realize that not everyone has used Angular, or even typescript, before.
  The purpose of this tech prompt isn't to catch anyone flat-footed or test if they know the specific gotchas of any specific language.
  We're simply trying to see if you will thrive in a position where you are given a large amount of freedom to solve challenging problems.
</p>
<p>
  With that being said, we've thrown a few existing patterns from our current codebase below that you can sample from or use as a basis for your implementation.
  We understand that development is all about finding and implementing patterns, so we hope these save you some time.
</p>

<h2>Angular</h2>

<div><a href="https://angular.io/">Angular</a></div>

<h2>Layout</h2>

<div><a href="https://github.com/angular/flex-layout">Angular Flex Layout</a></div>

<div fxLayout="row" fxLayoutAlign="space-between">
    Row 1
  </div>
  <div fxLayout="row" fxLayoutAlign="space-between">
    Row 2
  </div>

<div fxLayout='column' class="zero">

  <div fxFlex="33" class="one" ></div>
  <div fxFlex="33%" [fxLayout]="direction" class="two">

    <div fxFlex="22%"    class="two_one">1</div>
    <div fxFlex="205px"  class="two_two">2</div>
    <div fxFlex="30"     class="two_three">3</div>

  </div>
  <div fxFlex class="three"></div>

</div>

<h2>Components</h2>

<div><a href="https://material.angular.io/components/categories">Angular Material</a></div>

<div>
  <div>Button Click Count: {{buttonClickCount}}</div>
  <button mat-raised-button color="primary" (click)="onButtonClick()">Primary</button>
</div>

<div>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput
            [matDatepicker]="toDatepicker"
            [max]="dates.max"
            [(ngModel)]="dates.to"
            (dateInput)="toDateChanged($event)">
    <mat-datepicker-toggle matSuffix [for]="toDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #toDatepicker></mat-datepicker>
  </mat-form-field>
</div>

<form [formGroup]="addUserForm" (submit)="addUser($event)">
  <mat-form-field>
    <input type="text" placeholder="Email" aria-label="Email" matInput formControlName="email">
  </mat-form-field>

  <mat-form-field>
    <mat-select type="text" placeholder="Role" aria-label="Role" formControlName="role">
      <mat-option value="10" selected>View</mat-option>
      <mat-option value="20">Edit</mat-option>
      <mat-option value="30">Admin</mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-button [disabled]="addUserForm.invalid">Add User</button>
</form>

<div><a href="https://github.com/urish/ngx-moment">NGX Moment</a></div>
{{'24/01/2014' | amParse:'DD/MM/YYYY' | amDateFormat:'LL'}}
