.app-container {
  margin: 0 20px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

mat-toolbar {
  a {
    &:link, &:visited {
      color: #FFF;
    }
  }
}
