<mat-toolbar color="primary">
  <span><a [routerLink]="['/']">NIS Check</a></span>
  <span class="fill-remaining-space"></span>
  <span class="links">
    <a [routerLink]="['/instructions']">Instructions</a> |
    <a [routerLink]="['/examples']">Examples</a>
  </span>
</mat-toolbar>
<div class="app-container">
  <router-outlet></router-outlet>
</div>
