<h2>Prompt</h2>
<p>
  Before an aircraft part can be sold, there are several sets of rules that must be followed to ensure that the part is safe to be used.
</p>
<p>
  One of the requirements is that there must be Non-Incident Statements (NIS) covering the entire life of the part.
  An NIS is a document issued by an operator assuring that while in their operation, the part was not in any accidents.
</p>
<p>
  A part is said to have a valid NIS trace if there are not any gaps in the date range created by analyzing all NIS documents for a part.
</p>

<h3>Part 1</h3>

<p>The initial part of this challenge is to identify whether or not the mentioned parts have a valid NIS trace.</p>

Given a set of NIS documents:
<ol>
  <li>discover all the mentioned parts</li>
  <li>record the first and last date for each part</li>
  <li>identify if the date range is continuous</li>
</ol>

<p>If you run `npm test`, you should see that there are currently several failures in `nis-check.spec.ts`. Implement the `process` function in `nis-check.ts` so that the existing tests pass.</p>
<p>Please write any additional tests for edge cases you discover or any assumptions that are made.</p>

<h3>Part 2</h3>
<p>Now that you have a solid `nis-check` implementation, we would like a quick way to validate an inputted list of documents.</p>

Modify the existing `nis-check.component` so that a user can
<ul>
  <li>input one or more documents</li>
  <li>view all the parts on all the documents</li>
  <li>view the `from` and `to` dates for all parts</li>
  <li>identify if each part has a valid NIS trace</li>
  <li>if they don't have a valid NIS trace, view the gaps</li>
</ul>

<p>We value functionality over style, but like all good baking shows, there are a few presentation points available.</p>

<h3>Submission</h3>
<p>Please submit any questions or clarifications to <a href="mailto:jack@provenair.com">jack@provenair.com</a></p>
<p>When you're all done, please upload your fork to a private bitbucket or github repo and share it with jack@provenair.com and zack@provenair.com</p>

