@import '~@angular/material/theming';

$primary: mat-palette($mat-blue-grey);
$accent:  mat-palette($mat-amber, A200, A100, A400);
$warn:    mat-palette($mat-deep-orange);
$theme:   mat-light-theme($primary, $accent, $warn);
